.saveProductForm{
    margin: 0 0 2% 40%;
}

.saveProductForm input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}